<a href="https://colab.research.google.com/github/Kanishka2020/ML_Pipelining/blob/main/ML_Pipelining_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Contents of the project

1. Introduction

2. Machine Learning Pipeline

3. Data Preprocessing

4. Flow of pipeline

    1. Creating the Project in Google Cloud
    2. Loading data into Cloud Storage

5. Loading Data Into Big Query

6. Training the model

8. Evaluating the Model

9. Testing the model

10. Summary

11. Shutting down the project

##1. Introduction

Cloud computing is a technology that uses the computer system resources like cloud storage, computing power, and they manage data on remote servers and access them via the internet.

##2. Machine Learning Pipeline

Machine Learning pipeline is the sequential steps where the data travel from collection to the model deployment. They are iterative as every step is performed again and again to improve the accuracy of the model and achieve successful results. This journey from data to deployment is called the Machine learning pipeline.


####***Dataset***

I have used data from the Kaggle dataset.

Dataset: Diabetes Dataset

Link: https://www.kaggle.com/vikasukani/diabetes-data-set

Task: Build a Model to Predict and detect whether a Person has Diabetes or Not

##Data Pre-processing

###Loading the data

In [7]:
import pandas as pd
df = pd.read_csv('diabetes-dataset.csv')

In [8]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [9]:
# To check for missing values

df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

It means there are no null values in any of the columns.

In [10]:
# Now, I am going to find number of diabetes and non-diabetes persons
print(df.Outcome.value_counts())

0    1316
1     684
Name: Outcome, dtype: int64

###Feature selection

Here, we will take the features that impact the outcome column.

In [11]:
# select feature colulmn
feature_columns = df[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
      'BMI', 'DiabetesPedigreeFunction', 'Age']]
feature_columns.head()
# Outcome colummn
outcome_column = df['Outcome']
outcome_column.head()

0    1
1    0
2    1
3    1
4    0
Name: Outcome, dtype: int64

###Splitting Train and Test data

From the collected data, we are splitting the data into two parts for train and test in the ratio of 80-20.

In [12]:
# import package
from sklearn.model_selection import train_test_split
# split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(feature_columns, outcome_column, test_size=0.2, random_state=5)

###Training Data – Combining X_train and y_train

In [13]:
training_data = X_train
training_data['outcome'] = y_train.values

In [14]:
training_data

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,outcome
1176,97,76,27,0,35.6,0.378,52,1
1128,99,58,10,0,25.4,0.551,21,0
184,141,74,0,0,27.6,0.244,40,0
1807,97,76,27,0,35.6,0.378,52,1
35,103,60,33,192,24.0,0.966,33,0
...,...,...,...,...,...,...,...,...
1142,129,74,26,205,33.2,0.591,25,0
998,128,72,25,190,32.4,0.549,27,1
1725,94,76,18,66,31.6,0.649,23,0
206,196,76,29,280,37.5,0.605,57,1
867,131,66,40,0,34.3,0.196,22,1

###Testing Data – Combining X_test and y_test

In [15]:
test_data = X_test
test_data['outcome'] = y_test.values

In [16]:
test_data

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,outcome
51,101,50,15,36,24.2,0.526,26,0
1327,111,90,12,78,28.4,0.495,29,0
1488,95,82,25,180,35.0,0.233,43,1
1432,106,70,0,0,34.2,0.251,52,0
417,144,82,32,0,38.5,0.554,37,1
...,...,...,...,...,...,...,...,...
1251,112,75,32,0,35.7,0.148,21,0
275,100,70,52,57,40.5,0.677,25,0
1114,120,80,48,200,38.9,1.162,41,0
1751,145,80,46,130,37.9,0.637,40,1
72,126,90,0,0,43.4,0.583,42,1

###Converting data to **CSV**

Now, I convert this training data and testing data frames into CSV files. Because when I will creating a pipeline, I have to import this data into google cloud storage bucket. For that, it should be in some supported formats like CSV.

In [17]:
training_data.to_csv("Training_data.csv")
test_data.to_csv("Test_data.csv")